<h1> Simple Pixel Kart </h1>
<hr>
<h3> Login or Sign up? </h3>
<p>
If you need 
</p>
<h3> How to use: </h3>
<p>
To start let's build a kart.
</p>
<hr>
<h4>| <%= link_to "Signup", signup_path %> | <%= link_to "Login", login_path %> | </h4>