/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background: #f4f3f5;
    color: #02126d;
}

li {
    color: #ffffff;
    text-decoration: none;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    padding: 14px 20px;
    background: #78819b;
    border-radius: 18px;
    font-size: 1.5rem;
}


/* LOGIN and SIGNUP */

.con-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    max-width: 400px;
    border-radius: 40px;
    padding: 35px;
    text-decoration: none;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.con-input {
    color: #000;
    text-decoration: none;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 14px 20px;
    background: #233a79;
    color: #ffffff;
    border-radius: 18px;
    font-size: 1.5rem;
}

.submitbtn {
    background: #02126d;
    color: #ffffff;
    border-color: #ffffff;
    padding: 14px 20px;
    border-radius: 10px;
    width: 100%;
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
    transition: all .25s ease;
}
    .submitbtn:hover{
        background: #065BC9;
        transform: transform: scale(.99);
    }


/* BUILD A KART */
.builder {
    height: 200px;
    width: 200px;
    position: relative;
    top: 1%;
    left: 1%;
} 
    .driver {
        height: 200px;
        width: 200px;
        position: relative;
        top: 1%;
        left: 1%;
        border: 1px solid #000;
    }
    .wheels {
        height: 200px;
        width: 200px;
        position: absolute;
        top: 1%;
        left: 1%;
        border: 1px solid #000;
    }
    .body {
        height: 200px;
        width: 200px;
        position: absolute;
        top: 1%;
        left: 1%;
        border: 1px solid #000;
    }
    .color {
        height: 200px;
        width: 200px;
        position: absolute;
        top: 1%;
        left: 1%;
        border: 1px solid #000;
    }