<h1> Review for <%= Kart.find_by_id(@review.kart_id).name %> </h1>

<h3> Review Rating: <%= @review.rating %> </h3>
<h3> Review Content: <%= @review.content %> </h3>

<hr>
<h5><%= link_to "Help?", how_to_use_path %></h5>